<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <%- include('../partials/nav.ejs')%> //nav einbinden
    <h1>this is contact</h1>
    <section>
      <% allMyContacts.forEach(elt => { %>
      <div>
        <h1><%= elt.first_name %></h1>
        <h2><%= elt.last_name %></h2>
        <p><%= elt.email %></p>
        <p><%= elt.id %></p>
        <p><%= elt.gender %></p>
      </div>
      <% }) %>
    </section>

    <%- include('../partials/footer.ejs') %> //footer einbinden
  </body>
</html>
